<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/Room/style_listRooms.css">
</head>
<body>
  <h2>List of Rooms</h2>
  <form action="/admin/room" method="GET">
    <input type="text" name="roomNumber" placeholder="Search by Room Number" value="<%= searchQuery %>">
    <button type="submit">Search</button>
  </form>
  <form action="/admin/room/add" method="get">
    <button type="submit" class="add-room-button">Add Room</button>
  </form>
  <table>
    <tr>
      <th>Room Number</th>
      <th>Room Type</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
    <% rooms.forEach(room => { %>
      <tr>
        <td><%= room.roomNumber %></td>
        <td><%= room.roomType %></td>
        <td><%= room.price %></td>
        <td>
          <!-- Update button -->
          <form action="/admin/room/update/<%= room._id %>" method="get" style="display: inline;">
            <button type="submit">Update</button>
          </form>
          <!-- Delete button -->
          <form action="/admin/room/delete/<%= room._id %>" method="get" style="display: inline;">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
    <% }); %>
  </table>
</body>
</html>
