<head>
  <link rel="stylesheet" type="text/css" href="/Room/style_listRooms.css">
</head>
<h2>List of Rooms</h2>
  <!-- Displaying list of rooms -->
  <form action="/admin/room" method="GET">
    <input type="text" name="roomNumber" placeholder="Search by Room Number" value="<%= searchQuery %>">
    <button type="submit">Search</button>
  </form>
<ul>
  <% rooms.forEach(room => { %>
    <li>
      <p>Room Number: <%= room.roomNumber %></p>
      <p>Room Type: <%= room.roomType %></p>
      <p>Price: <%= room.price %></p>
      <!-- Update button -->
      <form action="/admin/room/update/<%= room._id %>" method="get" style="display: inline;">
        <button type="submit">Update</button>
      </form>
      <!-- Delete button -->
      <form action="/admin/room/delete/<%= room._id %>" method="get" style="display: inline;">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% }); %>
</ul>

