<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/adminControl/style_list.css">
</head>
<body>
  <h2>List of Guests</h2>
  <form action="/admin/guest" method="GET">
    <input type="text" name="guestName" placeholder="Search by Guest Name" value="<%= searchQuery %>">
    <button type="submit">Search</button>
  </form>
  <form action="/admin/guest/add" method="get">
    <button type="submit" class="add-guest-button">Add Guest</button>
  </form>
    <table>
      <tr>
        <th>Room Number</th>
        <th>Guest Name</th>
        <th>Actions</th>
      </tr>
      <% guests.forEach(guest => { %>
        <tr>
          <td><%= guest.roomNumber %></td>
          <td><%= guest.guestName %></td>
          <td>
            <!-- Update button -->
            <form action="/admin/guest/update/<%= guest._id %>" method="get" style="display: inline;">
              <button type="submit">Update</button>
            </form>
            <!-- Delete button -->
            <form action="/admin/guest/delete/<%= guest._id %>" method="get" style="display: inline;">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      <% }); %>
    </table>
</body>
</html>
